
{% extends "base.html" %}

{% block content %}

<h2 class="text-3xl font-semibold mb-6">Input Data</h2>

<div class="bg-slate-800 p-6 rounded-xl max-w-md">

    <form method="POST" action="/input" class="space-y-4">

        <div>
            <label class="text-gray-400">pH</label>
            <input name="ph" type="number" step="0.1" required
                   class="w-full p-2 bg-slate-700 rounded mt-1">
        </div>

        <div>
            <label class="text-gray-400">COD</label>
            <input name="cod" type="number" required
                   class="w-full p-2 bg-slate-700 rounded mt-1">
        </div>

        <div>
            <label class="text-gray-400">BOD</label>
            <input name="bod" type="number" required
                   class="w-full p-2 bg-slate-700 rounded mt-1">
        </div>

        <div>
            <label class="text-gray-400">TSS</label>
            <input name="tss" type="number" required
                   class="w-full p-2 bg-slate-700 rounded mt-1">
        </div>

        <button class="w-full bg-teal-500 py-2 rounded hover:bg-teal-600">
            Submit Data
        </button>

    </form>

</div>

{% endblock %}